*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  }
.main{
  min-height: 90vh;
  background-image: linear-gradient(to right top, #e7dc6c, #ffb962, #ff9182, #ff76b8, #e97bf4);
 padding: 2rem 0;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
 
}
.hamberg-btn{
  display: none;
  font-size: x-large;
}
.hamberg-btn{
  text-decoration: none;
  color: black;
}

.hamberg-btn-dropdown{
  display: none;
}
.hamberg-btn-dropdown i{
  font-size: x-large;
}
.hamberg-btn-dropdown a{
  text-decoration: none;
  color: black;
}
.hamberg-btn-dropdown i:hover{
  cursor: pointer;
}
.list-items{
  display: flex;
}
.list-items li a{
  text-decoration: none;
  color: black;
  margin: 0 0.4rem;
  padding: 0.8rem 0.3rem;
 
}
.list-items li{
  list-style-type: none;
}
.list-items li a:hover{
  background-color: #E7DC6C !important;
  transition-duration: 500ms;
}
.search{
  padding: 0.6rem;
  border-radius: 0;
  border-width: 0;
  background-color: #e7dd6c97;
  font-size: 1rem;
  border-radius: 1rem;
}
.img-div{
  width: 100vw !important;
  margin: 0;
  height: 60vh;
  
}
.team-meeting-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.home-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: white !important;
  margin-top: 2rem;
}
.home-footer-item{
  max-width: 20rem;
  flex-grow: 1;
}
.home-footer-item div{
  display: flex;
  align-items: center;
}
.home-footer-icon{
  margin-right: 1rem;
  font-size: x-large;
  padding: 0.2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border: 1px solid white;
  border-radius: 100%;
}
.home-footer-icon:hover{
  background-color: white;
  color: #e7dc6c;
  transition-duration: 200ms;
  cursor: pointer;
}
.home-footer-title{
  font-size: larger;
}
.img-content-div{
  position: absolute;
  top: 50%;
  opacity: 1 !important;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  z-index: 99;
  font-size: x-large;
}
.home-footer-btns{
  display: flex;
 margin-top: 1rem;
  align-items: center;
 
}
.home-footer-btns p{
  margin-right: 1rem;
  font-size: large;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid white;
}
.home-footer-btns p:hover{
  cursor: pointer;
}
.home-footer-btns div:first-child p{

  background-image: linear-gradient(to right top, #e7dc6c, #ffb962, #ff9182, #ff76b8, #e97bf4);
}

.home-footer-btns div:nth-child(2) p:hover{
  background-image: linear-gradient(to right top, #e7dc6c, #ffb962, #ff9182, #ff76b8, #e97bf4);
}

#seeMore{
  display: none;
  text-decoration: none;
  color: black;
  position: absolute;
  right: 0%;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  padding: 1rem;
  z-index: 109;
  top: 11.5%;
}
.search-drop{
  padding: 0.6rem;
  border-radius: 0;
  border-width: 0;
  background-color: #e7dd6c97;
  font-size: 1rem;
  border-radius: 1rem;
}
.list-items-drop li a{
  text-decoration: none;
  color: black;
  margin: 0.5rem 0.4rem;
  /* padding: 0.8rem 0.3rem; */
 
}
.list-items-drop li{
  margin: 0.5rem 0.4rem;
  list-style-type: none;
}
.list-items-drop li a:hover{
  background-color: #E7DC6C !important;
  transition-duration: 500ms;
}

/*----------- about us -------------------- */
.about-us-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
.about-us-contain h1{
  font-size: 3rem !important;
  /* border-bottom  */
  
}
.border-bottom{
  border-bottom: 2px solid #E97BF4;
  width: 20%;
  margin-bottom: 1rem;
  
}
.about-us-contain p{
 word-spacing: 5px;
 font-size: large;
}

.about-us-contain{
  margin: 0 1rem ;
  min-width: 20rem;
  max-width: 30rem;
}
.about-us-contain:nth-child(2){
  text-align: center;
  
}
.about-us-img{
 
  width: 90%;
  object-fit: contain;
  background-repeat: no-repeat;
  
}

/*----------- -------- -------------------- */

/*----------- services -------------------- */
.services-section{
  padding: 3rem 5rem;
 
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  min-height: 50vh;
  
}

.services-section h1{
  font-size: 2.5rem !important;
  /* border-bottom  */
  
}
.services-section .border-bottom{
  width: 8%;
}
.services-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.services-div{
  position: relative;
  width: 30%;
  min-width: 15rem;
}
.service-img{
  width: 100%;
 
}
.services-div-footer{
  display: flex;
  align-items: center;
  position: absolute !important;
  bottom: -13%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #ffffff;
  z-index: 99;
  padding: 0.5rem 1rem;
  right: 0%;
  
}
.services-div-footer h2{
  font-size: 1.2rem;
  font-weight: 500;
}
.services-div-footer i {
  background: linear-gradient(to right top, #e7dc6c, #ffb962, #ff9182, #ff76b8, #e97bf4) !important;
  margin-right: 1rem;
  font-size: x-large;
  padding: 0.5rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  color: white;
  border-radius: 100%;
  
}

/*----------- -------- -------------------- */



/*----------- contact us -------------------- */
.contact-us-section{
  padding: 2rem 5rem;
 
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  min-height: 50vh;
}
.conatct-us-heading{
  font-size: 2.5rem !important;
}

.contact-us-section .border-bottom{
  width:8% !important;
}
.contact-us-input-fields{
  background-color: #a3a3a387;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 2rem;
  border-radius: 0.2rem;
}
.contact-label{
  font-size: larger;
 
}
.contact-input{
  font-size: larger;
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
}
.contact-label-input{
  margin: 1.5rem 0;
}
.label-gender{
  font-size: large;
}
.input-gender{
  transform: scale(1.5);
  margin-right: 0.5rem;
  margin-left: 0.2rem;
  margin-top: 0.5rem;
}

/*----------- -------- -------------------- */

@media only screen and (max-width: 780px) {
  .img-content-div{
      width: 90vw;
  }
  .home-footer{
      flex-direction: column;
  }
  .home-footer-item{
      margin: 0.5rem 0;
  }
  .list-items{
      display: none !important;
  }
  .search{
      display: none !important;
  }
  .header{
      justify-content: space-between;
  }
  .hamberg-btn{
      display: block !important;
  }
  .hamberg-btn i:hover{
      transform: scale(1.04);
      transition-duration: 500ms;
  }

  .services-section{
      padding: 2rem 1rem;
  }
  .services-div{
      margin: 2rem 0;
  }

}