@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:wght@400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
  text-decoration: none;
  list-style: none;
}

/* ----------------- header -------------------- */


.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background-color: #CBCCFF;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.brand a {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  font-family: 'Dancing Script', cursive !important;

}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #000;
 font-weight: 400;
   
}
.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #000;
}

.menu-icon {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ .menu {
  transform: scale(1, 1);
}
/* ----------------- -------------------- */


/* ----------------- home  -------------------- */
.section{
    padding: 2rem 5rem;
}
.home{
  min-height: 80vh;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.home-heading{
    font-size: xx-large;
    font-weight: 500;
    word-spacing: 4px;
}

.home-para{
    font-size: large;
    font-weight: 400;
    word-spacing: 10px;
    margin-bottom: 2rem;
}
.home-div{
    width: 50%;
    flex-grow: 1;
    min-width: 30rem;
}
.home-div:nth-child(2){
    text-align: center;
}
.home-img{
    width: 80%;
}
.waving-emoji{
    font-size: 2.5rem;
    animation-name: waving-animate;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
}
@keyframes waving-animate {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(20.0deg) }  
   20% { transform: rotate(-10.0deg) }
   30% { transform: rotate(15.0deg) }
   40% { transform: rotate(-5.0deg) }
   50% { transform: rotate(11.0deg) }
   60% { transform: rotate( 1.0deg) }  
  100% { transform: rotate( 0.0deg) }
}
.socials{
  
    display: flex;
    align-items: center;
}
.socials a{
    text-decoration: none;
    margin-right: 1rem;
    max-width: 2.5rem;
}
.socials img{
    width: 100%;
}
.home-btns{
    margin-top: 4rem;
    display: flex;
    align-items: center;
}
.home-btns div{
    border: 2px solid #5B63B7;
    border-radius: 1rem;
    margin-right: 1.5rem;
}
.home-btns div:first-child{
    background-color: #5B63B7;
}
.home-btns div:first-child a{
    color: white !important;
}

.home-btns div:nth-child(2):hover{
    background-color: #5B63B7;
    transition-duration: 500ms;
}
.home-btns div a {
    color: black;
    text-decoration: none;
}
.home-btns div a:hover{
    color: white;
    transition-duration: 500ms;
}
.home-btns div a p{
    padding: 1rem 2rem;
    font-weight: 500;
}

/* ----------------- -------------------- */

/* ----------------- skills -------------------- */
.skill-content ul li{
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 5px;
}
.skills{
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.skills-heading{
  font-size: xx-large;
  font-family: 'Playfair Display', serif !important;
}
.skills-div{
  width: 50%;
  flex-grow: 1;
  min-width: 30rem;
}
.skills-div img{
  width: 90%;
}
.skill-icons {
  margin-bottom: 2rem;

}
.skill-icons i{
  font-size: 3rem;
  margin: 1rem;
}

/* ----------------- -------------------- */

/* ----------------- open source -------------------- */
.open-source{
  min-height: 80vh;
 
}
.open-source-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.open-source-card{
  border: 1px solid #CBCCFF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  border-radius: 0.3rem;
  flex-grow: 1;
  min-width: 20rem;
  width: 35%;
  margin: 1rem;
  min-height: 160px;
}
.open-source-card:hover{
  box-shadow: none;
}
.open-source-card span{
  color: rgb(247, 244, 106);
  font-size: 1.5rem;
}
.open-source-card p{
  margin-bottom: 0.5rem;
}
.open-source p:first-child{
  font-size: x-large;
}
.more-projects{
  margin-top: 1rem;
  text-align: center;
}
.more-projects div{
  display: inline-block;
  margin: 0 auto;
  border-radius: 0.5rem;
background-color: #5B63B7;
}
.more-projects div a{
  color: white;
    font-weight: 500;
}
.more-projects div a p{
  padding: 1rem 2rem;
}

/* ----------------- -------------------- */

/* ----------------- achievements -------------------- */
.achievements{
  min-height: 80vh;
  margin-top: 2rem;
}
.achievements-head-para{
  word-spacing: 5px;
  margin-top: 1rem;
}
.achievements-cards{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.achievements-card{
  min-width: 20rem;
  border: 1px solid #67676742;
  border-radius: 0.5rem;
  flex-grow: 1;
  margin: 1rem;
  width: 30%;
  text-align: center;
  padding: 1rem;
  padding-bottom: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.achievements-card p:first-of-type{
  font-size: x-large;
  margin-bottom: 1rem;
}
.achievements-card:hover{
  box-shadow: none;
}
.certification-project{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.certification-project a{
  color: black;
  text-decoration: none;
}
.certification-project a:hover{
  text-decoration: underline;
}

/* ----------------- -------------------- */



@media only screen and (max-width: 500px) {
    .home-div{
        min-width: 20rem;
    }
    .skills-div{
      min-width: 20rem;
    }
    .home-btns div{
        margin-right: 1rem;
    }
    .home-btns div a p{
        padding: 0.6rem 0.8rem;
        
    }
    .open-source-card{
      border: 1px solid rebeccapurple;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 0.8rem;
      border-radius: 0.3rem;
      flex-grow: 1;
      min-width: 20rem;
      margin: 1rem 0.2rem;
    }
    .achievements-card{
    
      margin: 1rem 0.2rem;
    
      padding: 0.8rem;
      padding-bottom: 2rem;
      
    }
}

@media only screen and (max-width: 890px) {
    .section{
        padding: 2rem 1rem;
    }
    .home{
        justify-content: center;
    }
    .home-div{
        margin: 1rem 0;
    }
    .skills{
      justify-content: center;
    }
    .skills-div{
      margin: 1rem 0;
    }
}

@media only screen and (max-width: 990px) {
    .section{
        padding: 2rem 1.5rem;
    }
  .menu {
    flex-direction: column;
    background-color: #fff;
    align-items: start;
    position: absolute;
    padding: 10px;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #000;
     font-size: 28px;
    cursor: pointer;
  }
}
